body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

html,
body {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flexC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexV {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p,
h1,
h2,
h3,
label {
  user-select: none;
}

button:hover {
  background-color: rgba(0, 149, 255, 0.347);
}
