.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.801);
}

canvas {
  border: 10px rgb(218, 80, 1) solid;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: white;
  margin-top: 5%;
}

#colorPalette {
  display: flex;
  gap: 10px;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  justify-content: space-between;
}

#colorPalette button:hover,
.clear:hover,
.close-slate:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.color-container {
  background-color: rgba(34, 34, 34, 0.714);
  padding: 1% 5%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}

.clear {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.704);
  color: white;
  font-size: 0.5rem;
}

.close-slate {
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.504);
  color: white;
}

/*  */

.vertical-slider {
  /* position: absolute; */
  bottom: 15%;
  right: 0%;
  margin: 0;
  touch-action: none;
}

@media screen and (max-width: 768px) {
  .clear {
    bottom: 15%;
  }
  .color-container {
    width: 60%;
    justify-content: center;
  }
  #colorPalette {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  canvas {
    margin-top: 18%;
  }

  .color-container {
    justify-content: center;
    width: 95%;
  }

  #colorPalette {
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  /* .vertical-slider {
    right: -10%;
  } */

  .clear {
    bottom: 12%;
  }
}
